<?xml version="1.0" encoding="utf-8" ?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.3/phpunit.xsd"
>
    <testsuites>
        <testsuite name="Lean Server Tests">
            <directory>tests/</directory>
        </testsuite>
        <testsuite name="App Tests">
            <directory>app/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
